Node-RED/emotiv_integration_test.json
[
    {
        "id": "595f12f5.07bacc",
        "type": "tab",
        "label": "Emotiv Integration Test",
        "disabled": false,
        "info": "# A quick test of the Emotiv integration\nSmall example of emotiv to node-red integration"
    },
    {
        "id": "5cb682b1.5a930c",
        "type": "EMOTIV",
        "z": "595f12f5.07bacc",
        "name": "EMOTIV",
        "x": 280,
        "y": 320,
        "wires": [
            [
                "e84e62f2.29cca"
            ]
        ]
    },
    {
        "id": "e84e62f2.29cca",
        "type": "Profile-Name",
        "z": "595f12f5.07bacc",
        "name": "Profile Name",
        "profileName": "Me Myself and I",
        "x": 510,
        "y": 320,
        "wires": [
            [
                "2ae99538.ed9cba"
            ]
        ]
    },
    {
        "id": "2ae99538.ed9cba",
        "type": "Mental-Command",
        "z": "595f12f5.07bacc",
        "name": "Mental Commands",
        "actionName": "lift",
        "mcSen": 10,
        "x": 780,
        "y": 320,
        "wires": [
            [
                "20e8f785.5ca4b8"
            ]
        ]
    },
    {
        "id": "20e8f785.5ca4b8",
        "type": "ui_text",
        "z": "595f12f5.07bacc",
        "group": "26fbb413.5398dc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lift Strength: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 990,
        "y": 320,
        "wires": []
    },
    {
        "id": "26fbb413.5398dc",
        "type": "ui_group",
        "name": "EMOTIV Connection",
        "tab": "7b24a0ad.4e504",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7b24a0ad.4e504",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]